body {
    background-image: url(../images/destiny-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size:36px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    margin-top: 10px;
}

h2 {
    font-size: 18px;
    color: white;
    background: rgba(0,0,0,0.5);
}

.container {
    font-family: 'Roboto Mono', monospace;
    color: black;
    
}

#ran-num {
    font-size: 28px;
}

.top-buffer {
   margin-top: 20px;
}

